.loader {
  margin-top: 40vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.spinner {
  border: $base-dimension solid $grey-color;
  border-radius: 50%;
  border-top: $base-dimension solid $color-primary;
  width: 50px;
  height: 50px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
