*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-family: 'Helvetica', 'Arial', sans-serif;
}

.div-flex {
  display: flex;
}

.space-between {
  justify-content: space-between;
}

.align-end {
  align-items: flex-end;
}

.align-center {
  align-items: center;
}

.div-reverse {
  display: flex;
  flex-direction: row-reverse;
}

.m-b-half {
  margin-bottom: #{$base-dimension * 0.5};
}

.m-r-half {
  margin-right: #{$base-dimension * 0.5};
}

.p-l-1 {
  padding-left: $base-dimension;
}

.icon-btn {
  @include button();
  color: $color-white;
  padding: 0;
  font-size: 1.3em;
  color: $grey-color;
  &:hover {
    background-color: transparent;
    color: $color-white;
  }
}

.btn-primary {
  @include btn-primary();
}

.btn-primary-bordered {
  @include btn-primary();
  border: 1px solid $color-white;
}

.btn {
  @include button();
  border: 1px solid $grey-color;
}

.text-primary {
  color: $color-primary-dark;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 0;
  padding: $base-dimension 0;
}

.center {
  margin-top: 40vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
