$grey-color: #ddd;
$light-grey-color: lighten($grey-color, 10);
$dark-grey-color: darken($grey-color, 10);
$color-primary: #0a8bd1;
$color-primary-dark: darken($color-primary, 5);
$color-white: #fff;
$base-dimension: 10px;
